@inherits LayoutComponentBase

<FluentLayout>
    <FluentHeader>
        <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center" HorizontalGap="10">
            <div class="home-link" @onclick="NavigateHome">DnDProbabilityCalculator</div>
            <AuthorizeView>
                <Authorized>
                    <div class="auth-link" @onclick="BeginLogOut">Log out</div>
                    <div>@context.User.Identity?.Name</div>
                </Authorized>
                <NotAuthorized>
                    <div class="auth-link" @onclick="BeginLogIn">Log In</div>
                </NotAuthorized>
            </AuthorizeView>
        </FluentStack>
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <FluentBodyContent>
            <ErrorBoundary>
                <ChildContent>
                    <div class="content">
                        @Body
                    </div>
                </ChildContent>
                <ErrorContent Context="ex">
                    <div class="blazor-error-boundary">@ex.Message</div>
                </ErrorContent>
            </ErrorBoundary>
        </FluentBodyContent>
    </FluentStack>
    <FluentDialogProvider/>
</FluentLayout>

<style>
    .auth-link {
        cursor: pointer;
        margin-left: auto;
    }
    .home-link {
        cursor: pointer;
    }
</style>