<FluentCard Class="hover-effect" @onclick="() => NavigateToParty(Party.Id)" Style="cursor: pointer">
    <FluentStack HorizontalAlignment="HorizontalAlignment.End">
        <div @onclick:stopPropagation="true">
            <FluentButton IconEnd="@(new Icons.Filled.Size12.Dismiss())" Appearance="Appearance.Stealth" OnClick="@(() => OnDelete.InvokeAsync())"/>
        </div>
    </FluentStack>
    <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Top">
        <h3>@Party.Name</h3>

        @foreach (var character in Party.Characters)
        {
            <p>@character.Name</p>
        }
    </FluentStack>
</FluentCard>

<style>
    .hover-effect:hover {
        background-color: var(--accent-fill-hover);
        color: var(--accent-foreground-hover);
    }
</style>