@page "/parties"

<FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center">
    <h1>Your Parties</h1>
</FluentStack>
<FluentDivider Style="margin: 1rem 0 5rem 0"></FluentDivider>

<FluentStack Orientation="Orientation.Vertical" VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.Center">
    <FluentGrid Style="width: 80%" Spacing="10" Justify="JustifyContent.Center">
        @foreach (var party in _parties)
        {
            <FluentGridItem lg="3">
                <FluentButton IconEnd="@(new Icons.Regular.Size16.Dismiss())"
                              OnClick="@(() => DeleteParty(party))"/>
                <PartyCard Party="@party"></PartyCard>
            </FluentGridItem>
        }
    </FluentGrid>
</FluentStack>