@using DnDProbabilityCalculator.Blazor.Placeholder

@page "/parties"

<FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center">
    <h1>Your Parties</h1>
</FluentStack>
<FluentDivider class="divider"></FluentDivider>

<FluentStack Orientation="Orientation.Vertical" VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.Center">
    <FluentGrid Spacing="10" Justify="JustifyContent.Center" class="parties-grid">
        @if (_parties != null && _parties.Any())
        {
            @foreach (var party in _parties)
            {
                <FluentGridItem lg="3">
                    <PartyCard Party="@party" OnDelete="@(() => DeleteParty(party))"></PartyCard>
                </FluentGridItem>
            }
        }
        else if (_parties is null)
        {
            <FluentGridItem lg="3">
                <SkeletonCard/>
            </FluentGridItem>
        }
        else if (_parties.Length == 0)
        {
            <FluentGridItem lg="3">
                <p>You seem to have no parties. Why don't you create one <NavLink Href="/create-party">here</NavLink>?</p>
            </FluentGridItem>
        }
    </FluentGrid>
</FluentStack>

<style>
.parties-grid {
  width: 80%;
}

.divider {
  margin: 1rem 0 5rem 0;
}
</style>