@page "/create-party"

<EditForm Model="@_party" OnValidSubmit="@SubmitValidForm">
    <FluentValidationValidator />
    <FluentValidationSummary />

    <p>
        <label>Name: </label>
        <InputText @bind-Value="@_party.Name" />
    </p>
    <button type="submit">Save</button>
</EditForm>