<div class="validation-placeholder">
    <ValidationMessage For="For"/>
</div>

<style>
    .validation-placeholder {
        min-height: 1.8em;
        display: block;
        color: #bc2f32;
        font-size: 0.7rem;
    }
</style>